@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
.brand-name{
    font-weight: 700;
    font-weight: 1.375rem;
}
.carousel-image{
    min-height:100vh;
}

.hovered-card{
    transition: all 0.3s ease;
}
.hovered-card:hover{
    transform:scale(1.14);
    background-color: #3F87F5;
    ;
    color: #fff;
    cursor: pointer;
    
}

.hovered-card a:hover{
    
    background-color: orangered;
    border: none;
}